@import "colors";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

nav{

ul{
    display: flex;
    justify-content: space-around;
    background-color: $text-pink;
    width: 30vw;



    li.a-wrap{
        list-style: none;
        
        
    }

    .a-link{
        text-decoration: none;
        font-size: 20px;
        background-color: $text-pink;
        
    }
}

}

.title-wrap{
    background-image: url(../imges/coffee-img-01.jpg);
    // background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    


    h1{
        color: white;
        margin-left: 50%;
    }
    

}

.box-wrap{

    display: flex;
    justify-content: space-around;
    
    
    .box{
        text-align: center;
        background-color: aqua;
        width: 75vw;
        margin: auto;
    }
}

.box:nth-child(1){
    
}